ANTHROPIC_API_KEY=
MATTERMOST_URL=http://localhost:8065
MATTERMOST_BOT_TOKEN=
MATTERMOST_TEAM_ID=
CHANNEL_OPS=artemis-ops
CHANNEL_BRIEFS=artemis-briefs
CHANNEL_COMMITMENTS=artemis-commitments
GMAIL_CREDENTIALS_PATH=credentials.json
GMAIL_TOKEN_PATH=token.json
CALENDAR_CREDENTIALS_PATH=credentials.json
CALENDAR_TOKEN_PATH=token.json
BRIEF_LEAD_TIME_MINUTES=90
MORNING_BRIEF_TIME=07:30
MONITORED_DOMAINS=rdm.is,rjdesmond.com,roamlesstraveled.com
DOMAIN_EXPIRY_DATES=rdm.is:2026-11-01,rjdesmond.com:2026-08-15
PRIORITY_CONTACTS=
FOCUS_CLIENT=TTI
FOCUS_KEYWORDS=Titanium,TTI,pilot,Brian Pivar
TAILSCALE_HOSTNAME=desktop-4mv40ug.tail85d392.ts.net
STARTUP_RETRY_COUNT=10
STARTUP_RETRY_DELAY=15
SQLITE_PATH=artemis.db
LOG_LEVEL=INFO
